@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }

.search_icon:before, .hand_washing:before, .sand_clock:before, .shopping_bag:before, .treatment:before, .insta:before, .facebook:before, .twitter:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.search_icon {
  color: black;
  font-size: 20px; }
  .search_icon:before {
    content: ""; }

.hand_washing, .sand_clock, .treatment {
  height: 124px;
  width: 124px;
  font-size: 4rem;
  text-align: center;
  line-height: 124px;
  color: #8a5137;
  border: 1px solid #8a5137;
  -webkit-border-radius: 50% 50%;
          border-radius: 50% 50%;
  background-color: white; }

.hand_washing:before {
  content: ""; }

.sand_clock:before {
  content: ""; }

.shopping_bag {
  color: black;
  font-size: 23px; }
  .shopping_bag:before {
    content: ""; }

.treatment:before {
  content: ""; }

.insta:before {
  content: ""; }

.facebook:before {
  content: ""; }

.twitter:before {
  content: ""; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.svg#Poppins-Light") format("svg"), url("../fonts/Poppins-Light.ttf") format("truetype"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ExtraLight.eot");
  src: url("../fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight") format("svg"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype"), url("../fonts/Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 0.625rem;
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  color: black; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, ul, li, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: inherit; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

input,
textarea,
button {
  font-family: inherit; }
  input:focus,
  textarea:focus,
  button:focus {
    outline: none; }

.header .article {
  text-align: center; }

.header_info {
  background-color: black;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .header_info {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .header_info {
      padding-left: 20px;
      padding-right: 20px; } }

.header_article {
  color: white;
  text-align: center;
  font-size: 0.95rem;
  line-height: 38px;
  background-color: black; }

.header_wrapper {
  background: -o-linear-gradient(348.28deg, rgba(250, 178, 152, 0.096) 4.77%, rgba(244, 222, 214, 0.2) 28.36%, rgba(248, 234, 229, 0.2) 88.9%, rgba(255, 255, 255, 0) 101.84%);
  background: linear-gradient(101.72deg, rgba(250, 178, 152, 0.096) 4.77%, rgba(244, 222, 214, 0.2) 28.36%, rgba(248, 234, 229, 0.2) 88.9%, rgba(255, 255, 255, 0) 101.84%);
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .header_wrapper {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .header_wrapper {
      padding-left: 20px;
      padding-right: 20px; } }

.header_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 60px 0; }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .header_inner {
      padding: 30px 10px 0; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .header_inner {
      padding: 20px 20px 0; } }

.header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0 0 60px;
  width: 660px;
  font-size: 1.35rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem; }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .header_nav {
      width: 400px; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .header_nav {
      display: none; } }

.header_link:hover {
  color: #8a5137;
  border-bottom: 1px solid #8a5137;
  padding-bottom: 10px; }

.header_cart {
  margin-left: 20px; }

.cart_span {
  opacity: 0;
  height: 20px;
  width: 80px; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 180px;
  background: url(../images/coffee-face-logo.png) center no-repeat;
  background-size: 100% 100%; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .logo {
      height: 10px;
      width: 100px; } }
  .logo_link {
    font-size: 0px;
    height: 100%;
    width: 100%; }

.nav, .search {
  display: none;
  font-size: 1.5rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .nav, .search {
      display: block; } }

.search {
  font-size: 0; }

.header_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px; }

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .search_text {
    background: #fcf7f5;
    width: 0px;
    position: absolute;
    right: 30px;
    padding: 5px;
    outline: none;
    border: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
  .search_btn {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer; }
  .search_span {
    font-size: 0; }

.search_btn > a {
  font-size: 30px; }

.search:hover > .search_text {
  width: 350px; }

.banner {
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .banner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .banner {
      padding-left: 20px;
      padding-right: 20px; } }
  .banner_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: url(../images/banner.png) left bottom no-repeat;
    background-size: auto 97%;
    position: relative; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .banner_inner {
        background-size: auto 80%;
        background-position: 0 20%; } }
    .banner_inner::after {
      display: block;
      content: "";
      width: 100%;
      padding-bottom: 56%; }
      @media screen and (min-width: 375px) and (max-width: 767px) {
        .banner_inner::after {
          padding-bottom: 140%;
          background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #FEF6F3), to(rgba(254, 246, 243, 0)));
          background: -o-linear-gradient(bottom, #FEF6F3 20%, rgba(254, 246, 243, 0) 100%);
          background: linear-gradient(0deg, #FEF6F3 20%, rgba(254, 246, 243, 0) 100%); } }
  .banner_title {
    font-size: 2.5rem;
    font-weight: 300;
    font-style: normal;
    line-height: 3rem; }
  .banner_subtitle {
    margin-top: 24px;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    line-height: 0.2rem; }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      .banner_subtitle {
        font-size: 1.2vw; } }
  .banner_link {
    display: inline-block;
    margin-top: 2.6vw;
    background-color: black;
    color: white;
    padding: 0 7vw;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.5rem; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .banner_link {
        padding: 0 40%;
        line-height: 4.7rem;
        margin-top: 8vw; } }
  .banner .article {
    position: absolute;
    top: 26%;
    right: 3%;
    width: 40%; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .banner .article {
        top: 60%;
        right: 50%;
        -webkit-transform: translate(50%, 0);
            -ms-transform: translate(50%, 0);
                transform: translate(50%, 0);
        width: 100%; } }

.description_inner {
  padding: 150px 0 150px 15px;
  background-color: black;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .description_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .description_inner {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .description_inner {
      padding: 6% 5% 15%; } }

.description_logo {
  padding-left: 5vw;
  height: 10%;
  width: 35%; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .description_logo {
      padding: 100% 5% 0;
      text-align: center;
      width: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .description_logo {
      width: 45%; } }

.description_link {
  height: 2vw;
  width: 12vw;
  text-align: center; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .description_link {
      height: 13vw;
      width: 6vw; } }

.description_logo_img {
  height: 100%;
  width: 100%;
  text-align: center; }

.description_subtitle {
  margin-top: 25px;
  color: white;
  height: 111px;
  font-size: 1.75rem;
  font-weight: 300;
  font-style: normal;
  line-height: 3.04rem; }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .description_subtitle {
      font-size: 2vw; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .description_subtitle {
      font-size: 4vw; } }

.description_image {
  height: 130%;
  width: auto;
  position: absolute;
  right: 30px;
  bottom: -50px; }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .description_image {
      height: 120%; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .description_image {
      top: -50px;
      right: 50%;
      -webkit-transform: translate(50%, 0);
          -ms-transform: translate(50%, 0);
              transform: translate(50%, 0);
      width: 100%; } }

.description_img {
  height: 100%;
  width: auto; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .description_img {
      height: auto;
      width: 90%; } }

.buying_inner {
  padding: 209px 0 130px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  background: url(../images/buying02.png) -5% 85% no-repeat;
  background-size: 50%;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .buying_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .buying_inner {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .buying_inner {
      padding: 140px 0; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .buying_inner {
      padding: 50px 0 550px;
      background-size: 100%;
      background-position: -5% 100%; } }
  .buying_inner::after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 50vw;
    background: url(../images/buying01.png) 5% 50% no-repeat;
    background-size: 50%;
    z-index: -1; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .buying_inner::after {
        background-size: 110%;
        height: 90vw;
        top: 500px;
        background-position: -5% -110%; } }

.buying .article {
  -webkit-transform: translate(-7vw);
      -ms-transform: translate(-7vw);
          transform: translate(-7vw); }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .buying .article {
      padding: 40px;
      -webkit-transform: translate(0vw);
          -ms-transform: translate(0vw);
              transform: translate(0vw); } }

.buying_title {
  width: 440px;
  font-size: 3.2rem;
  font-weight: 200;
  font-style: normal;
  line-height: 4rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .buying_title {
      width: 100%; } }

.buying_reviews {
  display: inline-block;
  margin: 41px 10px 0 0;
  font-size: 1.55rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.875rem; }

.buying_article {
  margin: 20px 0 0 8px;
  width: 425px;
  letter-spacing: 0.015rem;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  line-height: 2.6rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .buying_article {
      width: 100%;
      font-size: 1.75rem; } }

.buying_price {
  margin: 25px 0 0 -10px;
  width: 440px;
  font-size: 2.5rem;
  font-weight: 200;
  font-style: normal;
  line-height: 2.813rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .buying_price {
      width: 100%; } }

.buying .old_price {
  opacity: 0.5;
  width: 20px;
  position: relative;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: 200;
  font-style: normal;
  line-height: 1.875rem; }
  .buying .old_price::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 150%;
    border-bottom: 1px solid black; }

.buying_link {
  margin-top: 34px;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0 100px;
  width: 316px;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 5.75rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .buying_link {
      display: block;
      width: 100%; } }

.rating-area {
  display: inline-block;
  overflow: hidden;
  width: 95px; }

.rating-area:not(:checked) > input {
  display: none; }

.rating-area:not(:checked) > label {
  float: right;
  width: 19px;
  padding: 0;
  cursor: pointer;
  font-size: 19px;
  line-height: 19px;
  color: #e5e5e5; }

.rating-area:not(:checked) > label:before {
  content: '★'; }

.rating-area > input:checked ~ label {
  color: #8a5137; }

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #8a5137; }

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #8a5137; }

.phrases_inner {
  background: url(../images/phrases.png) center no-repeat rgba(252, 209, 194, 0.2);
  position: relative;
  background-size: 100% 100%;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .phrases_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .phrases_inner {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .phrases_inner {
      padding-top: 300px;
      background: url(../images/phrases.png) bottom no-repeat;
      background-size: 100% auto;
      z-index: -1; } }
  .phrases_inner::after {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: 52%; }
  .phrases_inner::before {
    display: none;
    content: "";
    width: 100%;
    height: 620px;
    background: -o-linear-gradient(279.78deg, #FEF6F3 50.37%, rgba(254, 246, 243, 0) 100.42%);
    background: linear-gradient(170.22deg, #FEF6F3 50.37%, rgba(254, 246, 243, 0) 100.42%);
    z-index: 2;
    position: absolute;
    top: 0; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .phrases_inner::before {
        display: block; } }

.phrases .article {
  position: absolute;
  left: 50%;
  top: 52.3%;
  -webkit-transform: translate(-50%, -52.3%);
      -ms-transform: translate(-50%, -52.3%);
          transform: translate(-50%, -52.3%); }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .phrases .article {
      top: 25%;
      z-index: 5; } }

.phrases_item {
  color: white;
  text-align: center;
  font-size: 4.9rem;
  font-weight: 200;
  font-style: normal;
  line-height: 5.9rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .phrases_item {
      color: black;
      z-index: 5; } }

.using_inner {
  padding: 131px 0 165px;
  background-color: rgba(252, 209, 194, 0.2);
  text-align: center;
  position: relative;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .using_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .using_inner {
      padding-left: 20px;
      padding-right: 20px; } }

.using_title {
  font-size: 3.2rem;
  font-weight: 200;
  font-style: normal;
  line-height: 3.75rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .using_title {
      padding: 0 100px;
      font-size: 4.2rem;
      font-weight: 200;
      font-style: normal;
      line-height: 5.75rem; } }
  .using_title::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200%;
    width: 100%;
    background: url(../images/using.png) center no-repeat;
    -webkit-transform: translate(-49.8%, -64%);
        -ms-transform: translate(-49.8%, -64%);
            transform: translate(-49.8%, -64%); }

.using_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 57px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .using_list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.using_item {
  margin: 0 30px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .using_item {
      margin-top: 60px; } }

.using .item_text {
  display: block;
  width: 170px;
  color: black;
  margin: 10px 0 0 -25px;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1rem; }

.testimonials {
  position: relative; }
  .testimonials_inner {
    text-align: center;
    padding: 100px 0 77px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 1440px; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .testimonials_inner {
        padding-left: 5px;
        padding-right: 5px; } }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      .testimonials_inner {
        padding-left: 20px;
        padding-right: 20px; } }
  .testimonials_title {
    font-size: 3.2rem;
    font-weight: 200;
    font-style: normal;
    line-height: 3.75rem; }
  .testimonials .owl-carousel {
    margin: 0 auto; }
  .testimonials .owl-prev, .testimonials .owl-next {
    position: absolute;
    display: block;
    top: 15%;
    border: 1px solid #8a5137;
    -webkit-border-radius: 50% 50%;
            border-radius: 50% 50%;
    height: 45px;
    width: 45px;
    line-height: 50px; }
  .testimonials .owl-next {
    left: 20%; }
    .testimonials .owl-next::after {
      display: block;
      content: "";
      height: 45px;
      width: 80px;
      position: absolute;
      top: 0;
      left: 0;
      background: url(../images/arrow_prev.png) center no-repeat;
      z-index: 2; }
    .testimonials .owl-next::before {
      display: block;
      content: "";
      height: 45px;
      width: 45px;
      position: absolute;
      top: 0;
      right: 29%;
      border: 1px solid #8a5137;
      background-color: white;
      -webkit-border-radius: 50% 50%;
              border-radius: 50% 50%;
      z-index: 2; }
      .testimonials .owl-next::before:hover {
        background-color: #8a5137;
        z-index: 2; }
  .testimonials .owl-prev {
    right: 20%; }
    .testimonials .owl-prev::after {
      display: block;
      content: "";
      height: 45px;
      width: 80px;
      position: absolute;
      top: 0;
      right: 0;
      background: url(../images/arrow_next.png) center no-repeat;
      z-index: 2; }
    .testimonials .owl-prev::before {
      display: block;
      content: "";
      height: 45px;
      width: 45px;
      position: absolute;
      top: 0;
      left: 29%;
      border: 1px solid #8a5137;
      background-color: white;
      -webkit-border-radius: 50% 50%;
              border-radius: 50% 50%;
      z-index: 2; }
      .testimonials .owl-prev::before:hover {
        background: #8a5137 url(../images/arrow_next_accent.png) -160% 56% no-repeat;
        z-index: 3; }
  .testimonials_item {
    margin: 40px 25px 0px; }
  .testimonials_image {
    height: 90px;
    width: 90px;
    margin: 0 auto; }
  .testimonials_img {
    width: 100%;
    height: 100%; }
  .testimonials_author {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2.338rem; }
  .testimonials_article {
    margin-top: 25px;
    letter-spacing: -0.03rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    line-height: 2.5rem; }
  .testimonials .testimonials_article {
    color: black; }

.blog_inner {
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .blog_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .blog_inner {
      padding-left: 20px;
      padding-right: 20px; } }

.blog_image {
  position: relative; }
  .blog_image::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 130%;
    background-color: black;
    z-index: -2; }
  .blog_image::before {
    display: block;
    content: "";
    position: absolute;
    top: 30%;
    right: 0%;
    width: 40vw;
    height: 35vw;
    background: url(../images/buying01.png) center no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotate(235deg);
        -ms-transform: rotate(235deg);
            transform: rotate(235deg);
    opacity: 0.1;
    z-index: -1; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .blog_image::before {
        top: 30%;
        right: -35%;
        width: 90vw;
        height: 75vw;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); } }

.blog_img {
  width: 61%;
  height: 61%; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .blog_img {
      width: 90%;
      height: 90%; } }

.blog_title {
  margin-top: 7vw;
  color: white;
  font-size: 3.3rem;
  font-weight: 200;
  font-style: normal;
  line-height: 3.75rem; }

.blog_item_image {
  margin: 60px 10px 0; }

.blog_article {
  margin: 20px 0 0 20px;
  text-align: left;
  letter-spacing: -0.01rem;
  font-size: 1.45rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.15rem; }

.clients_inner {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .clients_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .clients_inner {
      padding-left: 20px;
      padding-right: 20px; } }

.clients_item {
  font-size: 0;
  height: 50px;
  background-size: 100% 100%; }

.clients .vogue {
  background: url(../images/vogue.png) center no-repeat; }

.clients .byrdie {
  background: url(../images/byrdie.png) center no-repeat; }

.clients .vanity_fair {
  background: url(../images/vanityfair.png) center no-repeat; }

.clients .wwd {
  background: url(../images/wwd.png) center no-repeat; }

.clients .marie_claire {
  background: url(../images/marieclaire.png) center no-repeat; }

.subscription_inner {
  padding: 165px 135px 135px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(252, 209, 194, 0.48)), color-stop(35%, rgba(252, 209, 194, 0.2841)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(252, 209, 194, 0.48) 0%, rgba(252, 209, 194, 0.2841) 35%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(252, 209, 194, 0.48) 0%, rgba(252, 209, 194, 0.2841) 35%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .subscription_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .subscription_inner {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .subscription_inner {
      padding: 10px; } }
  .subscription_inner::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    height: 568px;
    width: 550px;
    background: url(../images/subscription.png) center no-repeat;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: -1; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .subscription_inner::after {
        background-size: contain; } }

.subscription_description {
  width: 60%; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .subscription_description {
      padding: 20px 10px 600px;
      width: 100%; } }

.subscription_title {
  font-size: 3.2rem;
  font-weight: 200;
  font-style: normal;
  line-height: 3.75rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .subscription_title {
      font-size: 4rem;
      font-weight: 200;
      font-style: normal;
      line-height: 5.5rem;
      padding: 0 35px; } }

.subscription_article {
  margin-top: 35px;
  letter-spacing: -0.029rem;
  font-size: 1.8rem;
  font-weight: 300;
  font-style: normal;
  line-height: 2.9rem; }

.subscription_form {
  margin-top: 27px;
  font-size: 0; }

.subscription_input {
  height: 70px;
  width: 315px;
  background: rgba(0, 0, 0, 0);
  padding: 23px 22px;
  color: rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .subscription_input {
      height: 6.5vw;
      width: 30vw; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .subscription_input {
      width: 80vw;
      font-size: 1.7rem; } }

.subscription_button {
  height: 70px;
  width: 203px;
  background: black;
  border: none;
  color: white; }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .subscription_button {
      height: 6.5vw;
      width: 25vw; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .subscription_button {
      margin-top: 10px;
      width: 80vw;
      font-size: 1.7rem; } }

.instagram_inner {
  padding: 120px 30px 45px;
  text-align: center;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .instagram_inner {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .instagram_inner {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .instagram_inner {
      padding: 60px 30px 30px; } }

.instagram_title {
  text-transform: uppercase;
  letter-spacing: -0.08rem;
  font-size: 3.3rem;
  font-weight: 200;
  font-style: normal;
  line-height: 2.1rem; }

.instagram_item {
  margin: 70px 10px; }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .instagram_item {
      margin: 40px 10px; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .instagram_item {
      margin: 40px 10px 25px; } }

.instagram_img {
  height: 100%;
  width: 100%; }

.instagram_follow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.011rem;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.098rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .instagram_follow {
      display: block;
      font-size: 1.3rem;
      font-weight: 300;
      font-style: normal;
      line-height: 2rem;
      padding: 0 70px; } }

.instagram_link {
  height: 20px;
  width: 20px;
  padding-right: 30px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .instagram_link {
      padding: 0; } }
  .instagram_link:hover {
    color: #8a5137; }

.instagram_span {
  font-size: 0; }

.instagram .insta {
  font-size: 1.15rem; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .instagram .insta {
      font-size: 2.5rem;
      color: #e5e5e5; } }

.instagram .owl-prev, .instagram .owl-next {
  position: absolute;
  display: block;
  top: 45%;
  height: 15px;
  width: 24px; }

.instagram .owl-next {
  left: -2%; }
  .instagram .owl-next::after {
    display: block;
    content: "";
    height: 15px;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/arrow_prev.png) left center no-repeat;
    background-size: 200%;
    z-index: 2;
    background-color: white; }

.instagram .owl-prev {
  right: -2%; }
  .instagram .owl-prev::after {
    display: block;
    content: "";
    height: 15px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/arrow_next.png) right center no-repeat;
    background-size: 200%;
    z-index: 2;
    background-color: white; }

.footer_wrapper {
  background-color: black;
  padding: 42px 60px 21px;
  color: white;
  position: relative;
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.15rem;
  margin: 0 auto;
  max-width: 1440px; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer_wrapper {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .footer_wrapper {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer_wrapper {
      padding: 10px; } }
  .footer_wrapper::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 810px;
    width: 880px;
    -webkit-transform: translate(-34%, -55%) rotate(295deg);
        -ms-transform: translate(-34%, -55%) rotate(295deg);
            transform: translate(-34%, -55%) rotate(295deg);
    background: url(../images/buying01.png) left no-repeat;
    background-size: 100% 100%;
    opacity: 0.05; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .footer_wrapper::before {
        -webkit-transform: translate(14%, -30%) rotate(330deg);
            -ms-transform: translate(14%, -30%) rotate(330deg);
                transform: translate(14%, -30%) rotate(330deg); } }

.footer_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer_inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer_inner {
      padding: 30px; } }

.footer_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 120px;
  width: 30%; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer_list {
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      height: 300px;
      margin-top: 20px; } }

.footer_item {
  width: 215px;
  margin-left: 80px; }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .footer_item {
      margin-left: 10px; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer_item {
      margin: 10px 0 0 10px; } }
  .footer_item:hover {
    color: #8a5137; }

.footer .payments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 33px 0; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer .payments {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 33px 30px; } }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer .payments {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer .payments_span {
    font-size: 0; }
  .footer .payments_link {
    display: block;
    margin-left: 16px;
    height: 22px;
    width: 32px;
    -webkit-border-radius: 5% 5%;
            border-radius: 5% 5%; }
    @media screen and (min-width: 375px) and (max-width: 767px) {
      .footer .payments_link {
        height: 40px;
        width: 60px; } }
    .footer .payments_link:hover {
      border: 1px solid #8a5137;
      outline-offset: -1px; }
  .footer .payments .amex {
    background: url(../images/amex.png) center no-repeat;
    background-size: 100% 100%; }
  .footer .payments .diners {
    background: url(../images/diners.png) center no-repeat;
    background-size: 100% 100%; }
  .footer .payments .discover {
    background: url(../images/discover.png) center no-repeat;
    background-size: 100% 100%; }
  .footer .payments .jcb {
    background: url(../images/jcb.png) center no-repeat;
    background-size: 100% 100%; }
  .footer .payments .visa {
    background: url(../images/visa.png) center no-repeat;
    background-size: 100% 100%; }
  .footer .payments .mastercard {
    background: url(../images/mastercard.png) center no-repeat;
    background-size: 100% 100%; }

.footer .copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  opacity: 40%;
  border-top: 1px solid white;
  font-size: 1rem;
  letter-spacing: -0.04rem;
  padding: 7px 0; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .footer .copyright {
      font-size: 1.5rem; } }

.social_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13%; }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .social_list {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 25%;
      font-size: 30px; } }

.social_link:hover {
  color: #8a5137; }

.social_span {
  font-size: 0; }

@media screen and (min-width: 375px) and (max-width: 767px) {
  .logo {
    height: 20px;
    width: 150px;
    margin-left: 10px; } }
