@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Regular.svg#PTSans-Regular") format("svg"), url("../fonts/PTSans-Regular.ttf") format("truetype"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans-Bold.eot");
  src: url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Bold.svg#PTSans-Bold") format("svg"), url("../fonts/PTSans-Bold.ttf") format("truetype"), url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: PTSans, sans-serif;
  font-weight: 700;
  min-width: 320px;
  overflow-x: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.main {
  background-color: #ffffff;
}

.main_inner {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 0 10px;
}

@media screen and (min-width: 768px) {
  .main_inner {
    padding: 0 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  .main_inner {
    padding: 0 0;
  }
}

.products {
  padding: 55px 50px;
  text-align: center;
}

.products_title {
  font-size: 55px;
  margin-bottom: 15px;
}

.products_article {
  font-size: 16px;
  margin-top: 40px;
  line-height: 24px;
}

.positions_title {
  font-size: 25px;
  margin: 120px 0 50px;
}

.positions_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.positions_item {
  border: 5px solid #acacac;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-top: 15px;
  padding: 30px 30px 90px;
  width: 80vw;
}

.positions_image {
  width: 100%;
}

.positions_name {
  color: #8e0000;
  margin-top: 15px;
  font-size: 65px;
}

.positions_article {
  color: #333333;
  font-weight: 400;
  margin: 55px 0 65px;
  font-size: 40px;
  line-height: 90px;
  padding: 0 65px;
}

.positions_link {
  color: #444444;
  line-height: 55px;
  font-size: 40px;
}

.positions_link:hover {
  color: #06811a;
}

.discount {
  margin-top: 25px;
  height: 100%;
  width: 100%;
}

.discount_image {
  height: 100%;
  width: 100%;
}

.header {
  background-color: #0072bc;
  height: 100px;
  padding: 10px;
}

.header_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  margin: 0 auto;
  min-width: 320px;
  padding: 0 0 10px;
}

@media screen and (min-width: 768px) {
  .header_inner {
    padding: 0 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  .header_inner {
    padding: 0 0;
  }
}

.order_link {
  display: inline-block;
  color: #ffffff;
  background-color: #f26522;
  line-height: 90px;
  padding: 0 20px;
}

.banner {
  background-color: #6dcff6;
  color: #ffffff;
  text-shadow: 0px 6px 14px #444444;
  padding: 75px 30px;
  text-align: center;
}

.banner .owl-carousel {
  margin: 25px 10px;
}

.copyright {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

.logo_name {
  color: #ffffff;
  height: 60px;
  background: url(../img/logo.webp) left no-repeat;
  background-size: auto 100%;
  padding-left: 90px;
  line-height: 60px;
}

.owl-carousel {
  position: relative;
}
