.banner {

	&_inner {
		@include site_width;
		padding: 0 0 325px;
		width: 400px;
		text-align: center;
	}

	&_title {

		margin-top: 215px;

		@include font(300, 3.125rem, 2.25rem);
	}

	&_subtitle {
		margin: 13px auto 0;
		width: 330px;

		@include font(400, 1.875rem, 1.25rem);
	}

	&_link {
		display: inline-block;
		margin-top: 35px;
		background-color: $black;
		color: $white;
		padding: 0 118px;

		@include font(400, 4.375rem, 1rem);
	}
	
}