.banner {
	overflow-x: hidden;
	@include site_width;

	&_inner {
		flex-direction: column;
		align-items: flex-end;
		background: url(../images/banner.png) left bottom no-repeat;
		background-size: auto 97%;
		position: relative;

		@include respond-to(mobile) {
			background-size: auto 67%;
			background-position: 30% 0%;
		}

		&::after {
			display: block;
			content: "";
			width: 100%;
			padding-bottom: 56%;

			@include respond-to(mobile) {
				padding-bottom: 186%;
				background: linear-gradient(0deg, #FEF6F3 40%, 
					rgba(254, 246, 243, 0) 100%);
			}
		}
	}

	&_title {
		@include font(300, 3rem, 2.5rem);
		@include respond-to(mobile) {
			padding: 0 1.6vw;
			letter-spacing: -0.4vw;
			@include font(300, 10vw, 8vw);
		}
	}

	&_subtitle {
		margin-top: 24px; 

		@include font(400, 0.2rem, 1.3rem);
		@include respond-to(tablet) {
			font-size: 1.2vw;
		}
		@include respond-to(mobile) {
			margin: 5vw 0 2vw; 
			letter-spacing: -0.05rem;
			@include font(300, 1.9vw, 4.4vw);
		}
	}

	&_link { 
		display: inline-block;
		margin-top: 2.6vw;
		background-color: $black;
		color: $white;
		padding: 0 7vw;
		text-align: center;

		@include font(400, 3.5rem, 1.3rem);
		@include respond-to(mobile) {
			padding: 0 36%;
			line-height: 10rem;
			margin: 7.5vw 0 2vw;
			@include font(400, 14vw, 3.8vw);
		}
	}

	.article {
		position: absolute;
		top: 26%;
		right: 3%;
		width: 40%;

		@include respond-to(mobile) {
			top: 50%;
			right: 50%;
			transform: translate(50%, 0);
			width: 100%;
		}
	}
	
}