.banner {
	@include site_width;

	&_inner {
		flex-direction: column;
		align-items: flex-end;
		background: url(../images/banner.png) left bottom no-repeat;
		background-size: auto 97%;
		position: relative;

		@include respond-to(mobile) {
			background-size: auto 80%;
			background-position: 0 20%;
		}

		&::after {
			display: block;
			content: "";
			width: 100%;
			padding-bottom: 56%;

			@include respond-to(mobile) {
				padding-bottom: 140%;
				background: linear-gradient(0deg, #FEF6F3 20%, 
					rgba(254, 246, 243, 0) 100%);
			}
		}
	}

	&_title {
		@include font(300, 3rem, 2.5rem);
	}

	&_subtitle {
		margin-top: 24px; 

		@include font(400, 0.2rem, 1.3rem);
		@include respond-to(tablet) {
			font-size: 1.2vw;
		}
	}

	&_link { 
		display: inline-block;
		margin-top: 2.6vw;
		background-color: $black;
		color: $white;
		padding: 0 7vw;
		text-align: center;

		@include font(400, 3.5rem, 1.3rem);
		@include respond-to(mobile) {
			padding: 0 40%;
			line-height: 4.7rem;
			margin-top: 8vw;
		}
	}

	.article {
		position: absolute;
		top: 26%;
		right: 3%;
		width: 40%;

		@include respond-to(mobile) {
			top: 60%;
			right: 50%;
			transform: translate(50%, 0);
			width: 100%;
		}
	}
	
}