.buying {

	&_inner {
		padding: 209px 0 130px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		background: url(../images/buying02.png) -5% 85% no-repeat;
		background-size: 50%;

		@include site_width;
		@include respond-to(tablet) {
			padding: 140px 0;
		}
		@include respond-to(mobile) {
			padding: 50px 0 550px;
			background-size: 100%;
			background-position: -5% 100%;
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 10px;
			width: 100%;
			height: 50vw;
			background: url(../images/buying01.png) 5% 50% no-repeat;
			background-size: 50%;
			z-index: -1;

			@include respond-to(mobile) {
				background-size: 110%;
				height: 90vw;
				top: 500px;
				background-position: -5% -110%;
			}
		}
	}

	.article {
		transform: translate(-7vw);

		@include respond-to(mobile) {
			padding: 40px;
			transform: translate(0vw);
		}
	}

	&_title {
		width:	440px;
		@include font(200, 4rem, 3.2rem);
		@include respond-to(mobile) {
			width: 100%;
		}
	}

	&_reviews {
		display: inline-block;
		margin: 41px 10px 0 0;

		@include font(300, 1.875rem, 1.55rem);
	}

	&_article {
		margin: 20px 0 0 8px;
		width: 425px;
		letter-spacing: 0.015rem;
		@include font(300, 2.6rem, 1.4rem);
		@include respond-to(mobile) {
			width: 100%;
			font-size: 1.75rem;
		}
	}

	&_price {
		margin: 25px 0 0 -10px;
		width:	440px;

		@include font(200, 2.813rem, 2.5rem);
		@include respond-to(mobile) {
			width:	100%;
		}
	}

	.old_price {
		opacity: 0.5;
		width: 20px;
		position: relative;
		margin-right: 20px;

		@include font(200, 1.875rem, 1.5rem);

		&::after {
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 150%;
			border-bottom: 1px solid $black;
		}
	}

	&_link {
		margin-top: 34px;
		display: inline-block;
		background-color: $black;
		color: $white;
		padding: 0 100px;
		width: 316px;

		@include font(400, 5.75rem, 1.3rem);
		@include respond-to(mobile) {
			display: block;
			width: 100%;
		}
	}
}