.buying {

	&_inner {
		padding: 209px 50px 130px 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		background: url(../images/buying02.png) 0% 77% no-repeat, 
		url(../images/buying01.png) 0% 13% no-repeat;

		@include site_width;
	}

	.article {
		transform: translate(-38%);
	}

	&_title {
		width:	440px;
		@include font(200, 4rem, 3.2rem);
	}

	&_reviews {
		margin-top: 41px;
		width:	440px;
		@include font(300, 1.875rem, 1.55rem);

		&::after {
			display: inline-block;
			content: "";
			height: 15px;
			width: 110px;
			background: url(../images/star01.png) 10% no-repeat, 
			url(../images/star01.png) 30% no-repeat, 
			url(../images/star01.png) 50% no-repeat, 
			url(../images/star01.png) 70% no-repeat, 
			url(../images/star02.png) 90% no-repeat;
		}
	}

	&_article {
		margin: 20px 0 0 8px;
		width: 425px;
		letter-spacing: 0.015rem;
		@include font(300, 2.6rem, 1.4rem);
	}

	&_price {
		margin: 25px 0 0 -10px;
		width:	440px;

		@include font(200, 2.813rem, 2.5rem);
	}

	.old_price {
		opacity: 0.5;
		width: 20px;
		position: relative;
		margin-right: 20px;

		@include font(200, 1.875rem, 1.5rem);

		&::after {
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 150%;
			border-bottom: 1px solid $black;
		}
	}

	&_link {
		margin-top: 34px;
		display: inline-block;
		background-color: $black;
		color: $white;
		padding: 0 100px;
		width: 316px;

		@include font(400, 5.75rem, 1.3rem);
	}
}