.clients {
	&_inner {
		padding: 50px 60px 100px;
		
		@include site_width;
		@include respond-to(mobile) {
			padding: 5vw 2vw 10vw;
		}
	}

	&_item {
		font-size: 0;
		height: 50px;
		background-size: 100% 100%;

		@include respond-to(mobile) {
			height: 12vw;
		}
	}

	.vogue {
		background: url(../images/vogue.png) center no-repeat;
	}

	.byrdie {
		background: url(../images/byrdie.png) center no-repeat;
	}
	.vanity_fair {
		background: url(../images/vanityfair.png) center no-repeat;
	}

	.wwd {
		background: url(../images/wwd.png) center no-repeat;
	}

	.marie_claire {
		background: url(../images/marieclaire.png) center no-repeat;
	}
}