.description {

	&_inner {
		padding: 140px 0 132px 175px;
		position: relative;
		background-color: $black;
		text-align: center;
		
		@include site_width;
	}

	&_logo {
		font-size: 0;
		height: 28px;
		width: 420px;
		background: url(../images/coffee-face-logo.png) center no-repeat;
		background-size: auto 100%;
	}

	&_subtitle {
		margin-top: 25px;
		color: $white;
		width: 420px;
		height:111px;

		@include font(300, 3.04rem, 1.75rem);
	}

	&_image {
		background: url(../images/description.png) center no-repeat;
		background-size: 100% 100%;
		font-size: 0;
		height: 650px;
		width: 538px;
		position: absolute;
		top: 45%;
		right: 8.62%;
		transform: translate(-8.62%, -45%);

		
	}
}
