.description {

	&_inner {
		padding: 150px 0 150px 15px;
		background-color: $black;
		text-align: center;
		position: relative;
		width: 100%;
		
		@include site_width;
		@include respond-to(tablet) {
			padding: 6% 5% 15%;
		}
		@include respond-to(mobile) {
			width: 100%;
		}
	}

	&_logo {
		padding-left: 5vw;
		height: 10%;
		width: 35%;

		@include respond-to(mobile) {
			padding: 88% 5% 3%;
			text-align: center;
			width: 100%;
			margin: 0 auto;
		}
		@include respond-to(tablet) {
			width: 45%;
		}
	}

	&_link {
		height: 2vw;
		width: 12vw;
		text-align: center;

		@include respond-to(mobile) {
			height: 50%;
			width: 50%;
		}
	}

	&_logo_img {
		height: 100%;
		width: 100%;
		text-align: center;

		@include respond-to(mobile) {
			height: 50%;
			width: 50%;
		}
	}

	&_subtitle {
		margin-top: 25px;
		color: $white;
		height:111px;

		@include font(300, 3.04rem, 1.75rem);
		@include respond-to(tablet) {
			font-size: 2vw;
		}
		@include respond-to(mobile) {
			@include font(300, 7vw, 4.2vw);
			margin-top: 3.6vw;
		}
	}

	&_image {

		height: 130%;
		width: auto;
		position: absolute;
		right: 30px;
		bottom: -50px;

		@include respond-to(tablet) {
			height: 120%;
		}
		@include respond-to(mobile) {
			top: -50px;
			right: 50%;
			transform: translate(50%, 0);
			width: 100%;
		}
	}

	&_img {
		height: 100%;
		width: auto;

		@include respond-to(mobile) {
			height: auto;
			width: 90%;
		}
	}
}

