.footer {

	.logo {
		@include respond-to(mobile) {
			height: 20px;
			width: 150px;
			margin-left: 10px;

			@include respond-to(mobile) {
				height: 3vw;
				width: 30vw;
			}
		}	
	}

	&_wrapper {
		background-color: $black;
		padding: 42px 60px 21px;
		color: $white;
		position: relative;
		overflow: hidden;
		z-index: 1;
		overflow-x: hidden;

		@include font(400, 3.15rem, 1.25rem);
		@include site_width;
		@include respond-to(mobile) {
			padding: 1vw;
		}

		&::before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 810px;
			width: 880px;
			transform: translate(-34%, -55%) rotate(295deg);
			background: url(../images/buying01.png) left no-repeat;
			background-size: 100% 100%;
			opacity: 0.05;
			z-index: -1;

			@include respond-to(mobile) {
				transform: translate(14%, -30%) rotate(17deg);
				background-size: 130% 130%;
				top: 18%;
				left: -18%;
			}
		}
	}

	&_inner {
		display: flex;
		justify-content: space-between;
		position: relative;

		@include respond-to(mobile) {
			flex-direction: column;
		}
		@include respond-to(mobile) {
			padding: 4vw;
		}
	}

	&_list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 120px;
		width: 30%;

		@include respond-to(mobile) {
			flex-wrap: nowrap;
			height: 40vw;
			margin: 7vw 0 14vw;
			font-size: 4vw;
			width: 150%;
		}
	}

	&_item {
		width: 215px;
		margin-left: 80px;

		@include respond-to(tablet) {
			margin-left: 10px;
		}
		@include respond-to(mobile) {
			margin: 2vw 0;
			width: 50%;
		}

		&:hover {
			color: $brown01;
		}
	}

	.payments {
		display: flex;
		justify-content: flex-end;
		padding: 33px 0;

		@include respond-to(mobile) {
			justify-content: space-between;
			padding: 33px 30px;
		}

		@include respond-to(mobile) {
			justify-content: space-between;
			padding: 4vw 2vw 7vw;
			margin: 7vw 0 0 2vw;
		}

		&_span {
			font-size: 0;
		}

		&_link {
			display: block;
			margin-left: 16px;
			height: 22px;
			width: 32px;
			border-radius: 5% 5%;
			z-index: 5;

			@include respond-to(mobile) {
				height: 6vw;
				width: 8vw;
			}

			&:hover {
				border: 1px solid $brown01;
				outline-offset: -1px;
			}
		}
		.amex {
			background: url(../images/amex.png) center no-repeat;
			background-size: 100% 100%;
		}
		.diners {
			background: url(../images/diners.png) center no-repeat;
			background-size: 100% 100%;
		}
		.discover {
			background: url(../images/discover.png) center no-repeat;
			background-size: 100% 100%;
		}
		.jcb {
			background: url(../images/jcb_card.png) center no-repeat;
			background-size: 100% 100%;
		}
		.visa {
			background: url(../images/visa.png) center no-repeat;
			background-size: 100% 100%;
		}
		.mastercard {
			background: url(../images/mastercard.png) center no-repeat;
			background-size: 100% 100%;
		}
	}

	.copyright {
		display: flex;
		justify-content: space-between;
		color: $white;
		opacity: 40%;
		border-top: 1px solid $white;
		font-size: 1rem;
		letter-spacing: -0.04rem;
		padding: 7px 0;

		@include respond-to(mobile) {
			font-size: 3vw;
			padding: 4vw 2vw;
		}
	}
}

.social {
	&_list {
		display: flex;
		justify-content: space-between;
		width: 13%;

		@include respond-to(mobile) {
			position: absolute;
			top: 30px;
			right: 25px;
			width: 30%;
			font-size: 32px;
		}
	}

	&_link:hover {
		color: $brown01;
	}

	&_span {
		font-size: 0;
	}
}