.footer {

	&_wrapper {
		background-color: $black;
		color: $white;
		padding: 42px 60px 21px;

		@include font(400, 3.15rem, 1.25rem);
		@include site_width;
	}

	&_inner {
		display: flex;
		justify-content: space-between;
	}

	&_list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 120px;
	}

	&_item {
		width: 285px;
		margin-left: 55px;
	}

	.payments {
		display: flex;
		justify-content: flex-end;
		padding: 18px 0;

		&_span {
			font-size: 0;
		}
	}

	.copyright {
		display: flex;
		justify-content: space-between;
		color: $white;
		opacity: 40%;
		border-top: 1px solid $white;
	}
}

.social {
	&_list {
		display: flex;
		justify-content: space-between;
		width: 160px;
	}

	&_link {
		font-size: 0;
	}
}