.header {

	.article {
		text-align: center;
	}

	&_info {
		@include site_width;
		background-color: $black;
	}

	&_article {
		color: $white;
		text-align: center;
		font-size: 0.95rem;
		line-height: 38px;
		background-color: $black;
	}

	&_wrapper {
		background: linear-gradient(101.72deg, $pink_01 4.77%, 
			$pink_02 28.36%, $pink_03 88.9%, $pink_04 101.84%);

		@include site_width;
	}

	&_inner {
		display: flex;
		justify-content: space-between;
		padding: 38px 10px 0 60px;

		
	}

	&_nav {
		display: flex;
		justify-content: space-between;
		margin: 5px 0 0 60px;
		width: 660px;

		@include font(400, 1.5rem, 1.35rem);
	}

}

.cart_span {
	opacity: 0;
	height: 20px;
	width: 80px;
}

.logo {
	display: flex;
	height: 20px;
	width: 180px;
	background: url(../images/coffee-face-logo.png) center no-repeat;

	&_link {
		font-size: 0px;
		height: 100%;
		width: 100%;
	}
}