.instagram {

	&_inner {
		padding: 120px 30px 45px;
		text-align: center;
	
		@include site_width;
		@include respond-to(tablet) {
			padding: 60px 30px 30px;
		}
		@include respond-to(mobile) {
			padding: 20vw 6vw 4vw;
		}
	}
	
	&_title {
		text-transform: uppercase;
		letter-spacing: -0.08rem;
		
		@include font(200, 2.1rem, 3.3rem);
		@include respond-to(mobile) {
			text-transform: lowercase;
			@include font(200, 4vw, 8vw);
		}
	}

	&_item {
		margin: 70px 10px;	

		@include respond-to(tablet) {
			margin: 40px 10px;	
		}
		@include respond-to(mobile) {
			margin: 8vw 1vw 4vw;	
		}
	}

	&_img {
		height: 100%;
		width: 100%;
	}

	&_follow {
		display: flex;
		justify-content:center;
		letter-spacing: 0.011rem;

		@include font(300, 1.098rem, 1.1rem);
		@include respond-to(mobile) {
			display: block;
			letter-spacing: 0.02vw;
			padding: 0 8vw 14vw;
			@include font(300, 3.5vw, 3.5vw);
		}
	}

	&_link {
		height: 20px;
		width: 20px;
		padding-right: 30px;

		@include respond-to(mobile) {
			padding: 0;
		}

		&:hover {
			color: $brown01;
		}
	}

	&_span {
		font-size: 0;
	}

	.insta {
		font-size: 1.15rem;

		@include respond-to(mobile) {
			font-size: 4vw;	
			color: $pink_05;
		}

		&:hover {
			color: $brown01;
		}
	}

	.owl-prev, .owl-next {
		position: absolute;
		display: block;
		top: 45%;
		height: 15px;
		width: 24px;
	}

	.owl-next {
		left: -2%;

		&::after {
			display: block;
			content: "";
			height: 15px;
			width: 25px;
			position: absolute;
			top: 0;
			left: 0;
			background: url(../images/arrow_prev.png) left center no-repeat;
			background-size: 200%;
			z-index: 2;
			background-color: $white;
		}
	}

	.owl-prev {
		right: -2%;

		&::after {
			display: block;
			content: "";
			height: 15px;
			width: 25px;
			position: absolute;
			top: 0;
			right: 0;
			background: url(../images/arrow_next.png) right center no-repeat;
			background-size: 200%;
			z-index: 2;
			background-color: $white;
		}
	}
}