.search {

	display: flex;
	position: relative;

	&_text {
		background: $pink_10;
		width: 0px;
		position: absolute;
		right: 30px;
		padding: 5px;
		outline: none;
		border: none;
		transition: 0.4s;

	}

	&_btn {
		transition: 0.4s;
		cursor: pointer;
	}

	&_span {
		font-size: 0;
	}
}

.search_btn > a {
	font-size: 30px;
}

.search:hover > .search_text {
	width: 55vw;
}