.testimonials {
	position: relative; 
	
	&_inner {
		text-align: center;
		padding: 100px 0 77px;
		overflow: hidden;
		position: relative;
		overflow-x: hidden;

		@include site_width;
		@include respond-to(mobile) {
			padding: 14vw 0 13.5vw;
		}
	}

	&_title {
		@include font(200, 3.75rem, 3.2rem);
		@include respond-to(mobile) {
			@include font(200, 8vw, 8vw);
		}
	}

	.owl-carousel { 
		margin: 0 auto;
		overflow-x: hidden;
	}

	.owl-prev, .owl-next {
		position: absolute;
		display: block;
		top: 15%;
		border: 1px solid $brown01;
		border-radius: 50% 50%;
		height: 45px;
		width: 45px;
		line-height: 50px;

		@include respond-to(mobile) {
			top: 20vw;
		}
	}

	.owl-next {
		left: 20%;

		@include respond-to(mobile) {
			left: 12vw;
		}

		&::after {
			display: block;
			content: "";
			height: 45px;
			width: 80px;
			position: absolute;
			top: 0;
			left: 0;
			background: url(../images/arrow_prev.png) center no-repeat;
			z-index: 2;

			@include respond-to(mobile) {
				background-size: 9vw;
				height: 8vw;
			}
		}

		&::before {
			display: block;
			content: "";
			height: 45px;
			width: 45px;
			position: absolute;
			top: 0;
			right: 29%;
			border: 1px solid $brown01;
			background-color: $white;
			border-radius: 50% 50%;
			z-index: 2;

			@include respond-to(mobile) {
				height: 8vw;
				width: 8vw;
			}

			&:hover {
				background-color: $brown01;
				z-index: 2;
				// background: $brown01 url(../images/arrow_prev_accent.png) 210% 56% no-repeat;
			}
		}
	}

	.owl-prev {
		right: 20%;

		@include respond-to(mobile) {
			right: 12vw;
		}

		&::after {
			display: block;
			content: "";
			height: 45px;
			width: 80px;
			position: absolute;
			top: 0;
			right: 0;
			background: url(../images/arrow_next.png) center no-repeat;
			z-index: 2;

			@include respond-to(mobile) {
				background-size: 9vw;
				height: 8vw;
			}
		}

		&::before {
			display: block;
			content: "";
			height: 45px;
			width: 45px;
			position: absolute;
			top: 0;
			left: 29%;
			border: 1px solid $brown01;
			background-color: $white;
			border-radius: 50% 50%;
			z-index: 2;

			@include respond-to(mobile) {
				height: 8vw;
				width: 8vw;
			}
		}
	}

	&_item {
		margin: 40px 25px 0px;
		@include respond-to(mobile) {
			margin: 9vw 5vw 0;
		}

	}

	&_image {
		height: 90px;
		width: 90px;
		margin: 0 auto;
		@include respond-to(mobile) {
			height: 16vw;
			width: 16vw;
		}
	}

	&_img {
		width: 100%;
		height: 100%;
	}

	&_author {
		margin-top: 10px;

		@include font(500, 2.338rem, 1.8rem);
		@include respond-to(mobile) {
			margin-top: 1.5vw;
			@include font(500, 5vw, 4.5vw);
		}
	}

	&_article {
		margin-top: 25px;
		letter-spacing: -0.03rem;
		color: $black_02;

		@include font(300, 2.5rem, 1.5rem);
		@include respond-to(mobile) {
			margin-top: 4.3vw;
			letter-spacing: 0.03rem;
			@include font(300, 6.3vw, 3.5vw);
		}
	}

	.testimonials_article {
		color: $black;
	}

}