.using {
	
	&_inner {
		padding: 131px 0 165px;
		background-color: $pink_06;
		text-align: center;
		position: relative;

		@include site_width;
		@include respond-to(mobile) {
			height: 176vw;
		}
	}

	&_title {

		@include font(200, 3.75rem, 3.2rem);
		@include respond-to(mobile) {
			padding: 0 8vw;
			@include font(200, 10vw, 8vw);
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			height: 200%;
			width: 100%;
			background: url(../images/using.png) center no-repeat;
			transform: translate(-49.8%, -64%);

			@include respond-to(mobile) {
				transform: translate(-49.8%, -68%);
			}
		}
	}

	&_list {
		display: flex;
		justify-content: space-around;
		margin-top: 57px;

		@include respond-to(mobile) {
			flex-direction: column;
			align-items: center;
			margin-top: 0;
		}
	}

	&_item {
		margin: 0 30px;

		@include respond-to(mobile) {
			margin-top: 15vw;
		}
	}

	.item_text {
		display: block;
		width: 170px;
		color: $black;
		margin: 10px 0 0 -25px;
		@include font(400, 1rem, 1.6rem);
		@include respond-to(mobile) {
			width: 36vw;
			margin-left: -7vw;
			@include font(400, 8vw, 4.2vw);
		}
	}
}