.using {
	
	&_inner {
		padding: 131px 0 165px;
		background-color: $pink_06;
		text-align: center;
		position: relative;

		@include site_width;
	}

	&_title {

		@include font(200, 3.75rem, 3.2rem);
		@include respond-to(mobile) {
			padding: 0 100px;
			@include font(200, 5.75rem, 4.2rem);
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			height: 200%;
			width: 100%;
			background: url(../images/using.png) center no-repeat;
			transform: translate(-49.8%, -64%);
		}
	}

	&_list {
		display: flex;
		justify-content: space-around;
		margin-top: 57px;

		@include respond-to(mobile) {
			flex-direction: column;
			align-items: center;
		}
	}

	&_item {
		margin: 0 30px;

		@include respond-to(mobile) {
			margin-top: 60px;
		}
	}

	.item_text {
		display: block;
		width: 170px;
		color: $black;
		margin: 10px 0 0 -25px;
		@include font(400, 1rem, 1.6rem);
	}
}