$base-font-size: 16;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$global_desktop_padding: 0;
$global_tablet_padding: 0 20px;
$global_mobile_padding: 0 10px;

$white01: #ffffff;
$blue01: #0072bc;
$blue02: #6dcff6;
$orange01: #f26522;
$grey01: #acacac;
$grey02: #333333;
$grey03: rgba(0, 0, 0, 0.35);
$grey03: #444444;
$brown01: #8e0000;
$green01: #06811a;